<div class="row">
  <div class="col s1">
    <%= link_to feature_path(@feature) do %>
      <%= button_tag class: 'btn deep-purple', id: 'add-user' do %>
        <i class="material-icons">add_box</i>
      <% end %>
    <% end %>
  </div>
</div>
