<div class="row">
  <h5 class="header deep-purple-text" id="feature_title">
    <%= link_to dashboard_path(@feature) do %>
      <i class="material-icons">arrow_back</i>
    <% end %>
    Feature '<span id="feature"><%= @feature %></span>'
  </h5>
</div>
