<h1> <%= @feature %> </h1>

<h2>Percentage</h2>

<div class="range">
  <input type="range" name="range" min="1" max="100" value="<%= @percentage %>" onchange="range.value=value">
  <output id="range"><%= @percentage %></output>
</div>

<h2>Users</h2>