<% content_for :current_page do %>
  <%= page_indicator "Dashboard" %>
<% end%>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title col-md-10">Feature</h3>
    <%= link_to "New Feature", new_feature_path, class: "btn btn-primary btn-xs" %>
  </div>
  <table class="table table-striped">
    <tbody>
      <% @features.uniq.each do |feature| %>
        <tr>
          <td><%=feature%></td>
          <td>
            <%= link_to destroy_feature_path(feature), data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-danger pull-right" do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
