<% content_for :current_page do %>
  <%= page_indicator "Dashboard" %>
<% end%>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
       Features
      </th>
    </tr>
  </thead>
  <tbody>
    <% @features.uniq.each do |feature| %>
      <tr>
        <td> <%=feature%> </td>
      </tr>
    <% end %>
  </tbody>
</table>
