<h1> Dashboard </h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
       Features
      </th>
    </tr>
  </thead>

    <tbody>

    <% @features.uniq.each do |feature| %>
      <tr>
        <td> <%=feature%> </td>
      </tr>
    <% end %>

    </tbody>



</table>